@charset "utf-8";

/* calculator */

.container{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid blue;
}

.container .calculator{
    display:flex;
    flex-direction: column;
    border:1px solid black;
    height:200px;
    width:150px;
}

.container .calculator .result{
    display:flex;
    flex-direction: column;
    border:1px solid red;
    height:60px;
}

/* calculator end */

/* calculator_log */

.container .calculator_log{
    display:flex;
    flex-direction: column;
    border:1px solid black;
    width:150px;
    height:200px;
}

.container .calculator_log .iconwrap_top{
    display:flex;
    align-items:center;
    flex-direction: row-reverse;
    border:1px solid red;
    width:150px;
    height:30px;
}

.container .calculator_log .iconwrap_top button{
    width:20px;
    height:20px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.container .calculator_log .iconwrap_bottom{
    display:flex;
    align-items:center;
    flex-direction: row-reverse;
    border:1px solid red;
    width:150px;
    height:30px;
    margin-top:140px;
}

.container .calculator_log .iconwrap_bottom button{
    width:20px;
    height:20px;
    display:flex;
    align-items:center;
    justify-content: center;
}

/* calculator_log end */